


%h1 this is our main view pagerout

%image_tag tree.tree_image.url %>

%h1.tree-index TreeSpotter


%input#search{type: "text"}
  #map_canvas
  
%address
  Fulham Palace
%br
  London
%br
  SW6 6EA

%address
  115 Hemingford Road
%br
  London
%br
  N1 1Bz

%button#add-tree Add a Tree

.hidden#tree-form
  %h1 Add A Tree Worth Seeing
  = form_for @tree, :html => {:class => "tree-form"} do |f|
    %p
      .field
        = f.label :name
        %br
        = f.text_field :name, :class => 'tree-name'  
    %p
      .field
        = f.label :species
        %br
        = f.text_field :species, :class => 'tree-species'
    %p
      .field
        = f.label :description
        %br
        = f.text_field :description, :class => 'tree-description'
    %p
      .field
        = f.label :address
        %br
        = f.text_field :address, :class => 'tree-address'
    %p
      .field
        = f.label :height
        %br
        = f.text_field :height, :class => 'tree-height'
    %p
      .field
        = f.label :girth
        %br
        = f.text_field :girth, :class => 'tree-girth'
    %p

      .field
        = f.label :tree_image
        %br/
        = f.file_field :tree_image
        
      -# .field
      -#   = f.label :remote_tree_image_url
      -#   %br
      -#   = f.text_field :remote_tree_image_url, :class = 'tree-image'
    %p
      .actions
        = f.submit :class => "submit"

  %button#new-tree Add This Tree